<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
											layout:decorate="layouts/common">
<head>
<meta charset="ISO-8859-1">
<title>Page 3</title>
</head>
<body>
<!-- This page provides content for the Page 3 page.  It includes forms to create an
object using Thymeleaf and displays the object information in a div using Javascript -->
	<div layout:fragment="content">
		<h1>Other Page</h1>
		<h3><a th:href="@{/}">Go Home</a></h3>
		
		<form action="#" th:action="@{page3}" th:object="${userInfo}" method="post">
			<table>
				<tr>
					<td>First Name:</td><td><input type="text" th:field="*{firstName}"></td>
				</tr>
				<tr>
					<td>Last Name:</td><td><input type="text" th:field="*{lastName}"></td>
				</tr>
				<tr>
					<td>Password:</td><td><input type="password" th:field="*{password}"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Submit"/></td>
				</tr>
			</table>
		</form>
		
		<!-- Provide the result in a container when it is generated-->
		<br>
		<br>
		<h2>Result</h2>
		<div id="resultContainer"></div>
	
		<script th:inline="javascript">
		    var userInfo = /*[[${userInfo}]]*/ null; // Get the user info from Thymeleaf
		    // Check if user info is available and form has been submitted
		    if (userInfo.firstName != null && userInfo.firstName != "" && userInfo.lastName != "" && userInfo.password != "") {
		        var resultContainer = document.getElementById("resultContainer");
		        
		        // Create and populate result content
		        var resultContent = document.createElement("div");
		        resultContent.innerHTML = `
		            <div id="resultInfo">
		                <p><strong>First Name:</strong> ${userInfo.firstName}</p>
		                <p><strong>Last Name:</strong> ${userInfo.lastName}</p>
		                <p><strong>Password:</strong> ${userInfo.password}</p>
		                <button onclick="clearFormAndResult()">Clear</button>
		            </div>
		        `;
		        
		        // Append result content to the result container
		        resultContainer.appendChild(resultContent);
		    }
		    
		    function clearFormAndResult() {
		        // Clear the form fields (assuming they have IDs)
		        document.getElementById("firstName").value = "";
		        document.getElementById("lastName").value = "";
		        document.getElementById("password").value = "";
		        userInfo.firstName == null;
		        userInfo.lastName == null;
		        userInfo.password == null;
		        
		        // Clear the result area and hide labels
		        var resultContainer = document.getElementById("resultContainer");
		        resultContainer.innerHTML = "";
		    }
		</script>
	</div>
	
</body>
</html>